.checkOut{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.pay{
    display:flex ;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.shippingDetails{
    padding: 1%;
}
.CouponSection{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 2%;
}
.applied-coupon{
    background-color: rgb(152, 152, 211);
}
.input-wrapper{
    display: flex;
}
.coupon-input-container{
    display: flex;
    width:100%;
}
.finalamount{
    font-size: 100%;
    padding :0.5%;
    display: flex;
    /* justify-content: flex-end; */
    /* background-color: aqua; */
    font-weight: bolder;
    /* padding-left:92%; */
    margin:.2%;
}
.finalamount div{
    display: flex;
}
.finalamount .left{
    padding-left:2%;
    width:80%
}
.finalamount .right{
    width:20%;
    display: flex;
    justify-content: flex-end;
    padding-right:2%;
}
.discount{
    padding: 1%;
    color:green;
    justify-content: center;
    display: flex;
}