.AboutUs .header{
    /* padding-top:9.1125px; */
    border-bottom: 2px solid rgb(22, 18, 13);
    justify-content: center;
    display: flex;
    align-items: center;
}
.AboutUs div{
    display: flex;
    justify-content: center;
}
.AboutUs .info{
    /* height: 800px */
    color: black;
    margin: 2%;
    font-size: 120%;
    text-align: center;
}

@media (max-width: 768px) {
    .AboutUs .info {
        font-size: 110%;
        margin: 5% 2%;
    }
}
@media (max-width: 480px) {
    .AboutUs .info {
        font-size: 100%;
        margin: 5% 2%;
    }
}